:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container {
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
  justify-content: 'center';
  height: '100vh';
  background-color: '#f3f4f6';
  text-align: 'center';
};

.title {
  font-size: '2rem';
  margin-bottom: '20px';
};

.button {
  padding: '10px 20px';
  font-size: '1rem';
  background-color: '#4CAF50';
  color: '#fff';
  border: 'none';
  border-radius: '5px';
  cursor: 'pointer';
  transition: 'background-color 0.3s';
};

.game-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
}

.game-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-row {
  display: flex;
  gap: 5px;
}

.game-cell {
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #ffffff;
  background-color: #222;
  color: #ffffff;
}

.game-cell.green {
  background-color: #4caf50;
  border-color: #4caf50;
  color: white;
}

.game-cell.yellow {
  background-color: #ffeb3b;
  border-color: #ffeb3b;
  color: black;
}

.game-cell.gray {
  background-color: #616161;
  border-color: #616161;
  color: white;
}

.game-cell:disabled {
  cursor: not-allowed;
}

